name: CI

on:
  push:
    branches: [ "main", "devops" ]
  pull_request:
    branches: [ "main", "devops" ]

  workflow_dispatch:

jobs:
  build-and-run-main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release 
          cmake --build build

      - name: Run Main
        run: ./build/Project-part-1
          
      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure --verbose

  build-and-run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON
          cmake --build build
          
      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure --verbose
